In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/gapminder-FiveYearData/gapminder-FiveYearData.csv

# Objective of the course
* The principle focus of this course is to introduce conceptual understanding using simple and practical examples rather than repetitive and point click mentality
* This course should make you comfortable using analytics in your career and your life
* You will know how to work with real data, and might have learned many different methodologies but choosing the right methodology is important
* The **danger in using quantitative method** does not generally lie in the inability to perform the calculation
* The real threat is lack of fundamental understanding of:
     * Why to use a particular technique of procedure
     * How to use it correctly and,
     * How to correctly interpret the result

# Learning objectives
1. Define data and its importance
2. Define data analytics and its types
3. Explain why analytics is important in today’s business environment
4. Explain how statistics, analytics and data science are interrelated
5. Why python?
6. Explain the four different levels of Data: – Nominal
     * Ordinal
     * Interval and
     * Ratio

## Define Data and its importance
* Variable, Measurement and Data
* What is generating so much data?
* How data add value to the business?
* Why data is important?

### Variable, Measurement and Data
* **Variables** is a characteristic of any entity being studied that is capable of taking on different values
* **Measurements** is when a standard process is used to assign numbers to attributes or characteristic of a variable
* **Data** data are recorded measurements

### What is generating so much data?
Data can be generated by 
* Humans,
* Machines
* Humans-machines combinations
* It can be generated anywhere where any information is generated and stored in structured or unstructured formats

### How data add value to business?
Business data are stored in Data Warehouse and from there we make:
1. **Development of Data Product**
       Algorithm solutions in production, marketing and sales etc.(e.g. Recommendation Engines, Self driving cars, google maps, etc.)
2. **Discovery of Data Insight**
       Quantitative data analysis to help steer strategic business decision

and from them we derive Business Values.

### Why Data is important?
* Data helps in <u>make better decisions</u>
* Data helps in <u>solve problems by finding the reason for underperformance</u>
* Data helps one to <u>evaluate the performance</u>.
* Data helps one <u>improve processes</u>
* Data helps one <u>understand consumers and the market</u>

## Define data analytic and its types

### Define data analytics
* Analytics is defined as “the scientific process of transforming data into insights for making better decisions”
* Analytics, is the use of data, information technology, statistical analysis, quantitative methods, and mathematical or computer-based models to help managers gain improved insight about their business operations and make better, fact-based decisions – James Evans
* is Analysis = Analytics ? The answer is no.

### Why analytics is important?
A lot of opportunities for the use of analytics and big data such as:
1. Determining credit risk
2. Developing new medicines
3. Finding more efficient ways to deliver products and services
4. Preventing fraud
5. Uncovering cyber threats
6. Retaining the most valuable customers

### Data Analysis
* Data analysis is the process of examining, transforming, and arranging raw data in a specific way to generate useful information from it
* Data analysis allows for the evaluation of data through analytical and logical reasoning to lead to some sort of outcome or conclusion in some context
* Data analysis is a multi-faceted process that involves a number of steps, approaches, and diverse techniques

### Data analytics vs. Data analysis
**Data Analytics** is all about exploring the future events
    * Qualitative Data analytics = Intuition + analysis
    * Quantitative Data analytics = Formulas + algorithms
    
**Data Analysis** is all about exploring the past events
    * Qualitative Data analysis = Explains How And Why Story ends the way it did ?
    * Quantitative Data analysis = Data + how the sale decreased last summer ?
    
1. is Analysis = Analytics ? **No**
2. is Data Analysis = Data analytics ? **No**
3. is Business Analysis = Business analytics ? **No**

### Classification of Data analytics
Based on the phase of workflow and the kind of analysis required, there are four major types of data analytics.
1. **Descriptive analytics:** What happened ?
2. **Diagnostic analytics:** Why did it happened ?
3. **Predictive analytics:** What will happen ?
4. **Prescriptive analytics:** How can we make it happen ?

**Value vs Diificulty**
Descriptive Analytics is with the least value and least diificulty and as we go down the value and difficulty increases i.e Prescriptive Analytics is with the most value and most difficulty.

### Descriptive Analytics
* Descriptive Analytics, is the conventional form of Business Intelligence and data analysis
* It seeks to provide a depiction or “summary view” of facts and figures in an understandable format
* This either inform or prepare data for further analysis
* Descriptive analysis or statistics can summarize raw data and convert it into a form that can be easily understood by humans
* They can describe in detail about an event that has occurred in the past

A common example of Descriptive Analytics are company reports that simply provide a historic review like:

1. Data Queries
2. Reports
3. Descriptive Statistics
4. Data Visualization
5. Data dashboard

### Diagnostic analytics
* Diagnostic Analytics is a form of advanced analytics which examines data or content to answer the question “Why did it happen?”
* Diagnostic analytical tools aid an analyst to dig deeper into an issue so that they can arrive at the source of a problem
* In a structured business environment, tools for both descriptive and diagnostic analytics go parallel

It uses techniques such as:
1. Data Discovery
2. Data Mining
3. Correlations

### Predictive analytics
* Predictive analytics helps to forecast trends based on the current events
* Predicting the probability of an event happening in future or estimating the accurate time it will happen can all be determined with the help of predictive analytical models
* Many different but co-dependent variables are analysed to predict a trend in this type of analysis

1. Historical Data ---> Predictive Algorithms ---> Model
2. New Data ---> Model ---> Predictions

Set of techniques that use model constructed from past data to predict the future or ascertain impact of one variable on another:
1. Linear regression
2. Time series analysis and forecasting
3. Data mining

### Prescriptive analytics
* Set of techniques to indicate the best course of action
* It tells what decision to make to optimize the outcome
* The goal of prescriptive analytics is to enable:
1. Quality improvements
2. Service enhancements
3. Cost reductions and
4. Increasing productivity

Examples of prescriptive analytics example:
1. Optimization Model
2. Simulation
3. Decision Analysis

## Explain why analytics is important
* Demand for Data Analytics
* Element of data Analytics

### Demand for Data Analytics
With companies across industries striving to bring their research and analysis (R&A) departments up to speed, the demand for qualified data scientists is rising.

"India will face a demand-supply gap of 200,000 analytics professionals over the next three years. Even in the US, only 40 out of 100 positions for analytics professionals can be filled," said Rituparna Chakraborty, co-founder & senior VP of TeamLease Services. [Read More...](https://timesofindia.indiatimes.com/india/data-scientists-earning-more-than-cas-engineers/articleshow/52171064.cms?utm_source=contentofinterest&utm_medium=text&utm_campaign=cppst)

### Element of data Analytics
1. Statistics
2. Data Mining
3. Business Intelligence/Information Systems
4. Visualizations
5. Simulation and Risk
6. Modelling and Optimizations and lastly
7. What if ?

## Data analyst and Data scientist
* The requisite skill set
* Difference between Data analyst and Data Scientist

### The requisite skill set are
1. Marhematical Skills
2. Technological Skills
3. Business and Strategy and Acumen

### Difference between Data analyst and Data Scientist
**Data Analyst** requires knowledge in
1. Business Administration
    * That is domain specific responsibility, for example:
        * Marketing Analyst
        * Financial Analyst, etc
2. Data Exploration analysis and insight

**Data Scientist** requires knowledge in
1. Everything required in Data Analyst +
2. Advance algorithms and machine learning
3. Data Product engineering

## Why python ?
**Features:**
1. Simple and easy to learn
2. Freeware and Open Source
3. Interpreted 
4. Dynamically Typed
5. Extensible
6. Embedded
7. Extensive library
8. Usability
    * Desktop and web applications
    * Database applications
    * Networking applications
    * Data analysis & Data Science
    * Machine Learning
    * IoT and AI applications
    * Games
    
**Companies using python:**
1. Google 
2. Nasa
3. Facebook
4. Youtube
5. Yahoo!
6. Dropbox
7. Quora
8. ebay, etc.

## Why Jupyter Notebook ?
**Features:**
1. Client-Server application
2. Edit code on web browser
3. Easy in documentation
4. Easy in demonstration
5. User-friendly interface

## Explain the four different levels of Data
* Types of Variables
* Levels of Data Measurement
* Compare the four different levels of Data: 
    1. Nominal
    2. Ordinal 
    3. Interval and 
    4. Ratio
* Usage Potential of Various Levels of Data
* Data Level, Operations, and Statistical Methods

### Types of Variables 
Data is divided into two parts :
1. **Categorical Data** They are defined categories, examples are: 
    * Marital Status
    * Political Party
    * Eye Color
    
2. **Numerical Data** It is further divided into two parts:
    * **Discrete Data** They are counted items, examples are:
        * Number of children
        * Defects per hour
    * **Continuous Data** They are Measured Characteristics
        * Weight
        * Voltage

### Levels of Data Measurement
* Nominal — Lowest level of measurement  
* Ordinal
* Interval
* Ratio — Highest level of measurement

### Nominal
A nominal scale classifies data into distinct categories in which **no ranking** is implied
   * Example : Gender, Marital Status

### Ordinal scale
An ordinal scale classifies data into distinct categories in which **ranking** is implied.

Example:
* Product satisfaction: Satisfied ---> Neutral ---> Unsatisfied
* Faculty rank: Professor ---> Associate Professor ---> Assistant Professor
* Student Grades: A ---> B ---> C ---> D ---> F

### Interval scale
An interval scale is an ordered scale in which the difference between measurements is a meaningful quantity but the measurements **do not have a true zero point**.

Example
* Temperature in Fahrenheit and Celsius 
* Year

**Note:** Here, we can perform only addition and subtraction other than that we can't perform any other arithmetic operations like multiplication or division because if subtract 3 years from 2023 we will get 2020 but on the contrary if we multiply 3 with 2023 we will get 6069 which doesn't make any sense.

### Ratio scale
A ratio scale is an **ordered** scale in which the difference between the measurements is a meaningful quantity and the measurements **have a true zero point**.

Example:
* Weight
* Age
* Salary

### Usage Potential of Various Levels of Data
Ratio ---> Interval ---> Ordinal ---> Nominal

### Impact of choice of measurement scale
**Nominal**
    
   * **Meaningful Operations:** Classifying and Counting
   * **Statistical Methods:** Nonparametric

**Ordinal**

   * **Meaningful Operations:** All of the above plus Ranking
   * **Statistical Methods:** Nonparametric
 
**Interval**
    
   * **Meaningful Operations:** All of the above plus Addition and Subtraction
   * **Statistical Methods:** Parametric
    
**Ratio**

   * **Meaningful Operations:** All of the above plus Multiplication and Division
   * **Statistical Methods:** Parametric

# Python Fundamentals I

In [2]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Load

In [3]:
df = pd.read_csv("/kaggle/input/gapminder-FiveYearData/gapminder-FiveYearData.csv")

### Head

In [4]:
df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

### Tail

In [5]:
df.tail()

       country  year         pop continent  lifeExp   gdpPercap
1699  Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700  Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701  Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702  Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

### Data Types

In [6]:
df.dtypes

country       object
year           int64
pop          float64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

### Info

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB

### get the country column and save it to its own variable

In [8]:
country_df = df["country"]
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

### fetch multiple columns

In [9]:
subset = df[["country","continent","year"]]
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

### loc: subset rows by index label, counting starts with Zero (0)

In [10]:
df.loc[0]

country      Afghanistan
year                1952
pop            8425333.0
continent           Asia
lifeExp           28.801
gdpPercap     779.445314
Name: 0, dtype: object

**Access the 100th row**

In [11]:
df.loc[99]

country      Bangladesh
year               1967
pop          62821884.0
continent          Asia
lifeExp          43.453
gdpPercap    721.186086
Name: 99, dtype: object